<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button><a href="/create">Create</a></button>
<table border="1">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Img</th>
        <th>Class</th>
    </tr>
    <tr th:each="s,loop :${students}">
        <td th:text="${loop.count}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.age}"></td>
        <td > <img th:src="${s.img}" height="150" width="200"></td>
        <td th:text="${s.classRoom.name}"></td>
    </tr>
</table>
</body>
</html>