<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <h1>CREATE STAFF</h1>
    <table class="table table-dark">
        <tr>
            <th>ID</th>
            <th>CODE</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>SALARY</th>
            <th>BRANCH</th>
        </tr>
        <tr th:object="${staff}">
            <td th:text="*{id}"></td>
            <td th:text="*{code}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{age}"></td>
            <td th:text="*{salary}"></td>
            <td th:text="*{branch.name}"></td>
            <td>
                <button type="button" class="btn btn-warning"><a th:href="@{/edit(id=*{id})}">EDIT</a></button>
            </td>
            <td>
                <button type="button" class="btn btn-danger"><a th:href="@{/delete(id=*{id})}">DELETE</a></button>
            </td>
        </tr>
        <td>
            <div class="input-group-append">
                <a href="/staff" class="btn btn-warning">BACK TO HOMEPAGE</a>
            </div>
        </td>
    </table>
</div>
</body>
</html>